# ===============================
# Vivado generated directories
# ===============================
Hardware/Vivado/riscv-single-cycle/*.cache/
Hardware/Vivado/riscv-single-cycle/*.runs/
Hardware/Vivado/riscv-single-cycle/*.sim/
Hardware/Vivado/riscv-single-cycle/*.gen/
Hardware/Vivado/riscv-single-cycle/*.hw/
Hardware/Vivado/riscv-single-cycle/*.ip_user_files/
Hardware/Vivado/riscv-single-cycle/*.tmp/
Hardware/Vivado/riscv-single-cycle/.Xil/

Hardware/Vivado/Test/*.cache/
Hardware/Vivado/Test/*.runs/
Hardware/Vivado/Test/*.sim/
Hardware/Vivado/Test/*.gen/
Hardware/Vivado/Test/*.hw/
Hardware/Vivado/Test/*.ip_user_files/
Hardware/Vivado/Test/*.tmp/
Hardware/Vivado/Test/.Xil/



# Vivado logs
Hardware/Vivado/riscv-single-cycle/*.log
Hardware/Vivado/riscv-single-cycle/*.jou

Hardware/Vivado/Teste/*.log
Hardware/Vivado/Teste/*.jou

# ===============================
# OS / Editor junk
# ===============================
.DS_Store
Thumbs.db
*.swp
*.swo
*.bak
*.tmp

# ===============================
# Python / Jupyter (if any)
# ===============================
__pycache__/
.ipynb_checkpoints/

# ===============================
# Do NOT ignore important project files
# (listed here as reminder)
# ===============================
# !vivado-p/riscv-fpga.xpr
# !vivado-p/riscv-fpga.srcs/
# !RISCV-source/
# !testbench_v/
